
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  height: 19vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.user-name {
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
}

main {
  height: 115vh;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #263840;
}

.card-description {
  height: 32px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  margin-left: 57px;
  color: white
}

.user-logo {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.name-display{
  width: 83px;
  font-size: 18px;
  margin-top: 24px;
}

.drop-down {
  height: 20px;
  width: 20px;
  margin-right: 35px;
  margin-left: 7px;
  margin-top: 11px 
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-icons {
  height: 25px;
  width: 25px;
  margin-bottom: -3px;
  margin-right: 9px
}

.icons {
  height: 100%;
  width: 375px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

h3 {
  margin-bottom: 5px;
  margin-left: 20px
}

.trailsource {
  height: 90px;
  width: 110px;
  margin-right: 35px
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  height: 100%;
  display: flex;
  justify-content: center;
}

.grid-container {
  height: 100vh;
  width: 95vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

article {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
.card-top {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-bottom {
    height: 65%;
    margin-top: 0%;
    background-color: tan;
    padding-top: 8px;
}

.card-bottom-title {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
  height: 32px
}

.card-bottom-date {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 0;
}

.card-bottom-link {
  margin-left: 10px
}

.card-bottom-difficulty {
  font-size: 15px;
  margin-left: 10px;
}

.card-bottom-level {
  margin-left: 10px;
  font-size: 16px;
}

.card-bottom-additions {
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: -28px;
  height: 42px;
}

.card-bottom-footer {
  margin-left: 10px;
  font-size: 20px;
  margin-top: 18px;
}

.turnpage {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  margin-left: 5px
}

.views {
  height: 64px;
  width: 55px;
  font-size: 18px;
  margin-top: 0px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
}

.Crested-Butte {
  background-image: url(assets/crested-butte.png);
  background-size: cover;
}
.Breckenridge {
  background-image: url(assets/breckenridge.png);
  background-size: cover;
}
.Winter-Park {
  background-image: url(assets/winter-park.png);
  background-size: cover;
}
.Durango {
  background-image: url(assets/durango.png);
  background-size: cover;
  
}
.Buena-Vista {
  background-image: url(assets/buena-vista.png);
  background-size: cover;
}
.Telluride {
  background-image: url(assets/telluride.png);
  background-size: cover;
}
.Vail {
  background-image: url(assets/vail.png);
  background-size: cover;
}
.Colorado-Springs {
  background-image: url(assets/co-springs.png);
  background-size: cover;
}





